# Verification

```{warning}
Work in progress.
```

```{epigraph}
Are we doing the thing right?
```


%- Verification & validation.
%- Testing & Formal Checking.
%- Syntax errors and semantic errors.
%- Compile-time and run-time checking.
