/* Code */
pre {
  box-shadow: none;
  border: 0;
}


/* Output code */
div.highlight-output pre {
  background: #222;
  border: 0;
  border-left: .4rem solid rgb(230,101,129);
}
div.highlight-output pre span {
  color: #fff !important;
}

/* Input code */
div.highlight-bash pre {
  background: #222;
  border: 0;
  color: #fff;
}
div.highlight-bash pre span:not(.c1) {
  color: #fff;
}
div.highlight-bash pre,
div.highlight-xml pre,
div.highlight-csharp pre {
  border-left: .4rem solid #28a745;
}
