/* THEME:FUGO SPECIFIC */
.sidebar-sticky { overflow: auto; scroll-behavior: auto; }    /* Make logo not fixed */
.sidebar-scroll { overflow: visible; } /* Make logo not fixed */
/*.sidebar-scroll { scroll-behavior: auto; } /* No smooth scrolling when scrolling via JS */
.sidebar-brand-text { text-align: center } /* Center title */
img.sidebar-logo { max-width: 55%; } /* Smaller logo */
figcaption p { font-style: italic; }
.admonition p { font-size: 1rem; }
.admonition li { font-size: 1rem; }
@media not print {
    body[data-theme="dark"] {
      color-scheme: dark;
    }
    @media (prefers-color-scheme: dark) {
      body:not([data-theme="light"]) {
        color-scheme: dark;
      }
    }
}
/* END THEME:FUGO SPECIFIC */


/* THEME:Default SPECIFIC */
/*html {
  --font-stack: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  --font-stack--monospace: "SFMono-Regular", Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  font-weight: 100;
}

p {
  font-size: 1.2em;
  font-weight: 300;
}

#main-content h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}*/
/* END THEME:Default SPECIFIC*/


/*
 * Dark mode
 * ONLY RELEVANT IN DEFAULT THEME
/*
@media (prefers-color-scheme: dark) {
  body,
  nav.bd-toc-nav,
  .bd-toc nav>.nav,
  #site-navigation,
  .header-article,
  .bd-toc.show nav,
  .form-control,
  .form-control:focus
  {
    background-color: #222;
  }

  pre
  {
    background-color: #bbb;
  }

  body,
  p,
  h1, h2, h3, h4, h5,
  .content-container h1,
  .content-container h2,
  .content-container h3,
  .content-container h4,
  .content-container h5,
  #site-navigation,
  #site-navigation nav ul.nav li a,
  #site-navigation h1.site-logo,
  .bd-toc .toc-entry a,
  .form-control,
  .form-control:focus
  {
    color: #cecece;
  }

  .content-container a,
  .content-container a:visited,
  .content-container a:hover,
  .content-container a:active
  {
    color: rgb(83, 186, 255);
  }

  code {
    color: rgb(255, 100, 170);
  }

  .tocsection,
  .bd-toc nav>.nav,
  .bd-search input
  {
    border-color: #555;
  }

  .headerbtn,
  .menu-dropdown__content
  {
    background-color: #222;
  }
}
*/

/* Code */
pre {
  box-shadow: none;
  border: 0;
}
.highlight {
  background-color: #f8f8f8;
}


/* Output code */
.highlight-output .highlight,
.cell
.output .highlight pre { /* Should actually be on the .highlight not the pre */
  background: #222;
  border: 0;
  /*border-left: .6rem solid rgb(230,101,129);*/
  border-left: .6rem solid #999;
}
.highlight-output .highlight pre,
.highlight-output .highlight pre span,
.cell_output .highlight pre,
.cell_output .highlight pre span {
  color: #fff;
}
.traceback { display: none !important; } /* Hide traceback (exceptions) when using raises-exception */

/* Input code */
div.cell_input {
  border: 0 !important;
}
.highlight-csharp .highlight,
.highlight-bash .highlight {
  border: 0;
  border-left: .6rem solid rgb(0, 176, 255) !important;
  border-radius: .2rem !important;
}
.highlight-bash pre {
  background: #222;
  border: 0;
}
.highlight-bash pre,
.highlight-bash pre span {
  color: #fff !important;
}

